::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--background-secondary);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body.light-theme{
    --background-primary: #FFFFFF;
    --background-secondary: #eeeeee;
    --text-primary: #020817;
    --text-secondary: #007acc;
    --text-light: #5c5c5c;
    --text-selection: #69a2d4;
    --color-primary: #b2b2b2;
    --button-highlight: #f2f2f2;
    --button-click: #dfdfdf;
}
body.light-theme .icon-secondary {
    filter: invert(31%) sepia(72%) saturate(3554%) hue-rotate(186deg) brightness(93%) contrast(100%) saturate(70%);
}

body.dark-theme{
    --background-primary: #252526;
    --background-secondary: #3b3b3b;
    --text-primary: #d2d2d2;
    --text-secondary: #21bb5c;
    --text-light: #8a8a8a;
    --text-selection: #21bb5c;
    --color-primary: #646464;
    --button-highlight: #373737;
    --button-click: #484849;
}
body.dark-theme .icon-secondary {
    filter: invert(65%) sepia(52%) saturate(1088%) hue-rotate(87deg) brightness(86%) contrast(76%) saturate(70%);
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--background-primary);
    font-family: "Ubuntu", serif;
    color: var(--text-primary);

    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
#main-window{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

p{
    line-height: 1.6;
}

hr {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid var(--color-primary);
}

*::selection {
    color: var(--background-primary);
    background: var(--text-selection);
}

.serial-code-vert {
    font-family: monospace;
    position: absolute;
    top: 5px;
    right: 2px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: var(--text-light);
    font-size: 7pt;
    transform: rotate(180deg);
}

.serial-code-hor{
    font-family: monospace;
    position: absolute;
    top: 3px;
    right: 4px;
    color: var(--text-light);
    font-size: 7pt;
}

body.dark-theme .invert-on-dark{
    filter: invert();
}

#nav-bar {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    z-index: 10;

    border: 1px solid var(--color-primary);
    border-radius: 25px;
    background-color: var(--background-primary);

    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    align-items: center;

    transition: width 0.3s, left 0.3s, transform 0.3s;
}

#nav-bar.open {
    width: 320px;
}

#nav-bar.top {
    left: 50%;
    transform: translateX(-50%);
}

#nav-bar > .nav-bar-item {
    opacity: 0;
}
#nav-bar.open > .nav-bar-item{
    opacity: 100%;
}

#nav-bar > #nav-bar-icon{
    position: absolute;
    transition: all 0.3s;
}
#nav-bar.open > #nav-bar-icon{
    opacity: 0;
    transform: translate(-100px, 0) rotate(-45deg);
    pointer-events: none;
}

.nav-bar-item {
    user-select: none;
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: transparent;
    border-radius: 5px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    transition: opacity 0.3s, background-color 0.15s, transform 0.07s;
}
body:not(.mobile) .nav-bar-item:hover{
    background-color: var(--button-highlight);
}
.nav-bar-item:active{
    background-color: var(--button-click);
    transform: scale(95%);
}

#landing {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#landing > *{
    user-select: none;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flipboard-text {
    position: relative;
    font-family: "OCR A Std", monospace;
}

.rotating-text{
    color: var(--text-secondary);
    overflow: hidden;
    height: 40px;
    width: 100%;
    z-index: -1;
    padding-top: -20px;
    mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0px, rgba(255,255,255,1) 10px, rgba(255,255,255,1) 30px, rgba(255,255,255,0) 40px);
}

.rotating-text > div {
    position: relative;
    top: 0px;
}

.rotating-text > div > p {
    margin: 0;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#boid-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    
    overflow: hidden;
    mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0px, rgba(255,255,255,1) 100px);
    filter: brightness(50%);
}

body.dark-theme #boid-canvas{
    filter: invert();
}

.mouse-follow{
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.mouse-follow.mouse-onscreen{
    opacity: 70%;
}

#main-body{
    padding-top: 100px;
    width: calc(min(900px, 90%));
    /* border: 1px solid black; */
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 100px;
}

.content-box{
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
}

#skill-holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 60px;
}

.skill-box{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
}
.skill-box>img{
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.skill-name{
    text-align: center;
    margin-top: 75px;
    font-size: 11pt;
}

#theme-toggle{
    overflow: hidden;
    position: relative;
}
#theme-toggle > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
}
body.light-theme #theme-toggle > img:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 30px), -50%);
}
body.dark-theme #theme-toggle > img:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 30px), -50%);
}

#language-toggle{
    overflow: hidden;
    position: relative;
    color: var(--text-light);
}
#language-toggle > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
}
html:not(:lang(fr)) #language-toggle > div:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 30px), -50%);
}
html:lang(fr) #language-toggle > div:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 30px), -50%);
}

html:lang(fr) *:lang(en):not(html){
    display: none;
}
html:lang(en) *:lang(fr):not(html){
    display: none;
}

.socials-picker{
    position: absolute;
    top: calc(50% + 1px);
    left: -52px;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    padding-left: 2px;
    padding-top: 2px;

    border: 1px solid var(--color-primary);
    border-radius: 18px;
    background-color: var(--background-primary);
    overflow: hidden;
    transition: height 0.2s, background-color 0.5s;
}
@media (max-width:420px) {
    .socials-picker{
        top: 85px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.socials-picker:hover{
    height: 98px;
}
.socials-picker>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
}
.socials-picker:hover>img{
    transform: translate(-50px, -50%);
}
.socials-picker>a{
    position: relative;
    display: block;
    margin-bottom: 3px;
    height: 30px;
    width: 30px;
    transition: margin-left 0.2s;
    
    border-radius: 17px;
    transition: transform 0.2s, background-color 0.2s;
}
.socials-picker>a:hover{
    background-color: var(--button-highlight);
}
.socials-picker:not(:hover)>a{
    transform: translate(40px, -50%);
}
.socials-picker>a>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%);
}

#project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media (max-width:880px) {
    #project-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.project-box{
    position: relative;
    height: 50px;
    padding: 7px;

    border: 1px solid var(--color-primary);
    border-radius: 7px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
}
.project-box:hover{
    box-shadow: 0 0 8px var(--text-secondary);
    transform: scale(102%, 102%);
}
.project-box>p{
    line-height: 1;
    margin: 0;
}

.project-title{
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 14pt;
}
.project-langs{
    color: var(--text-secondary);
}
.project-date{
    color: var(--text-light);
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 10pt;
}

#project-view-block{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
#project-view{
    position: fixed;
    z-index: 100;
    height: 70%;
    width: calc(min(900px, calc(100% - 100px)));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(70%);
    overflow-y: auto;

    background-color: var(--background-primary);
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
}

#project-view.open{
    transform: translate(-50%, -50%) scale(100%);
    opacity: 100%;
    pointer-events: all;
}
#project-view-block.open{
    opacity: 100%;
    pointer-events: all;
}